csa/prec_costs/csa_s
csa/prec_costs/csa_q
csa/prec_costs/csa_q_pr
csa/prec_costs/csa_q_pr_pu
csa/prec_costs/csa_q_pu
csa/prec_costs/csa_q_qm
csa/prec_costs/csa_q_rspo
csa/prec_costs/csa_q_rspo_pr
csa/prec_costs/csa_q_rtpo
csa/prec_costs/csa_q_rtpo_pr
csa/prec_costs/csa_q_rtpo_pr_pu
csa/prec_costs/csa_q_rtpo_pu
csa/prec_costs/csa_q_spo
csa/prec_costs/csa_q_spo_pr
csa/prec_costs/csa_q_spo_pr_pu
csa/prec_costs/csa_q_spo_pu
csa/prec_costs/csa_q_tpo
csa/prec_costs/csa_q_tpo_pr
csa/prec_costs/csa_q_tpo_pr_pu
csa/prec_costs/csa_q_tpo_pu
csa/prec_costs/csa_s_pr
csa/prec_costs/csa_s_pr_pu
csa/prec_costs/csa_s_pr_qm
csa/prec_costs/csa_s_pu
csa/prec_costs/csa_s_pu_qm
csa/prec_costs/csa_s_qm
csa/prec_costs/csa_s_rspo
csa/prec_costs/csa_s_rspo_pr
csa/prec_costs/csa_s_rspo_qm
csa/prec_costs/csa_s_rtpo
csa/prec_costs/csa_s_rtpo_pr
csa/prec_costs/csa_s_rtpo_pr_pu
csa/prec_costs/csa_s_rtpo_pu
csa/prec_costs/csa_s_rtpo_qm
csa/prec_costs/csa_s_spo
csa/prec_costs/csa_s_spo_pr
csa/prec_costs/csa_s_spo_pr_pu
csa/prec_costs/csa_s_spo_pu
csa/prec_costs/csa_s_spo_qm
csa/prec_costs/csa_s_tpo
csa/prec_costs/csa_s_tpo_pr
csa/prec_costs/csa_s_tpo_pr_pu
csa/prec_costs/csa_s_tpo_pu
csa/prec_costs/csa_s_tpo_qm
